# This file contains pin mappings for the BIGTREETECH SKR Mini E3 V3
# in combination with a customized B2X300 printer.
[include macros.cfg]
[include leds.cfg]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 45

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2F004C000250415339373620-if00

[safe_z_home]
home_xy_position: 146,70
speed: 200
z_hop: 17
z_hop_speed: 6

[bed_mesh]
speed: 200
horizontal_move_z: 17
mesh_pps: 2, 2
mesh_min: 30, 28
mesh_max: 270, 180
probe_count: 4,3

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 317
position_min: -5
position_max: 317
homing_speed: 140
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999
diag_pin: ^PC0
driver_SGTHRS: 50

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 220
position_min: -18
position_max: 220
homing_speed: 140
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999
diag_pin: ^PC1
driver_SGTHRS: 40

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop
position_max: 300
position_min: -15

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
interpolate: false
uart_address: 1
run_current: 1.1
hold_current: 0.7
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 31.62
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
min_temp: 0
max_temp: 280
min_extrude_temp: 190
max_extrude_cross_section: 3.5

[verify_heater extruder]
max_error: 180
check_gain_time: 30
hysteresis: 10

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 1.1
hold_current: 0.700
stealthchop_threshold: 999999

[filament_switch_sensor RunoutSensor]
pause_on_runout: False
runout_gcode: PAUSE
insert_gcode: RESUME
switch_pin: PC2

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 85.49
#pid_Ki: 7.67
#pid_Kd: 238.12
min_temp: 0
max_temp: 130

[servo PROBE_Z]
pin: PA1
maximum_servo_angle: 180
minimum_pulse_width: 0.001
maximum_pulse_width: 0.002
initial_angle: 170

[probe]
pin: ^!PC14
deactivate_on_each_sample: false
x_offset: 3.0
y_offset: 45.0
#z_offset: 15
speed: 3
samples: 4
sample_retract_dist: 1.5
samples_result: median
samples_tolerance_retries: 1
activate_gcode: PROBE_DEPLOY
deactivate_gcode: PROBE_STOW

[fan]
pin: PC6
max_power: 0.7
shutdown_speed: 0
off_below: 0.3

[heater_fan extruder]
pin: PB15
heater_temp: 60.0
shutdown_speed: 1
kick_start_time: 0.5
fan_speed: 0.4

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[bed_screws]
screw1: 10, 10
screw2: 290, 10
screw3: 10, 190
screw4: 290, 190

[force_move]
enable_force_move: true

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.714
#*# pid_ki = 1.074
#*# pid_kd = 178.758
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.713
#*# pid_ki = 0.676
#*# pid_kd = 1409.374
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.153125, 0.248437, 0.278125, 0.237812
#*# 	0.229687, 0.294687, 0.333125, 0.244375
#*# 	0.196562, 0.257500, 0.268750, 0.221250
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 46.0
#*# x_count = 4
#*# max_y = 180.0
#*# mesh_x_pps = 2
#*# max_x = 270.0
#*#
#*# [probe]
#*# z_offset = 9.970
#*#
#*# [bed_mesh current_print]
#*# version = 1
#*# points =
#*# 	0.153125, 0.248437, 0.278125, 0.237812
#*# 	0.229687, 0.294687, 0.333125, 0.244375
#*# 	0.196562, 0.257500, 0.268750, 0.221250
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 46.0
#*# x_count = 4
#*# max_y = 180.0
#*# mesh_x_pps = 2
#*# max_x = 270.0
